h1 {
    color: #fd5c63;
    text-align: center;
    border: 10px solid lightblue;
    padding: 10px; 
    background-color: #ACE1AF;
    text-shadow: 10px grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

p {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 25 px solid gray;
    margin: 20px;
    text-emphasis-color: #fd5c63;

}
body {
    background-color: #fdfd96;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
